.logo {
  width: 70px;
}
.btn-pink {
  background-color: #ed7599;
}

.pink {
  color: #ed7599;
}

.pink:hover {
  color: deeppink;
  padding: 10px;
}


.forsmall {
  display: none;
}
@media (max-width: 769px) {
  .forlarge {
    display: none;
  }

  .forsmall {
    display: block;
  }
}
